body {
  background-color: #e5dac1;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.header{
  margin: 1.5vh 0;
  display: flex;
  justify-content: space-between;
  height: 15vh;
  width: 85vw;
  align-items: center;
}

#seal {
  height: 12.5vh;
}

.title-text{
  background-color: #676767;
  padding: 1vh 0;
}

.title-text > h1 {
  font-family: 'Roboto', sans-serif;
  background-color: #333;
  color: #cbcc97;
  font-size: 5vh;
  padding: 0 1vw;
  margin: 0;
  letter-spacing: .5px;
}

.home-main {
  width: 80vw;
  border: 5px solid #333;
  background-repeat: repeat-y;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  width: 100%;
  height: 6.25vh;
  background-color: #e5dac1;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}

.nav-link {
  margin: .5vh 0;
  height: fit-content;
  padding: .5vh 0;
  font-size: 3vh;
  display: flex;
  align-items: center;
  background-color: #333;
  border: 0 solid;
  border-radius: 3px;
  transition: .25s ease-in-out;
}

.nav-link:hover{
  box-shadow: 3px 2.5px 5px 1.5px rgba(0,0,0,0.75);
  letter-spacing: 1px;
  font-size: 3.1vh;
}

.nav-link a {
  text-decoration: none;
  vertical-align: middle;
  color: #cbcc97;
  padding: .25vh 1vh;
}

.current-page a {
  text-decoration: underline;
  text-decoration-color: #e37b4b;
  text-decoration-thickness: .25vh;
}

.divider {
  width: 80%;
}

.content h1 {
  margin-left: 2vh;
}

.content h2 {
  margin-left: 2vh;
}

.content p {
  margin: 2.5vh 5vh;
  font-size: 1.25em;
}

.content img {
  width: 30vw;
  float: right;
  border: 1px solid #333;
  margin: 2.5em .5em 0 1.5em;
}

.sidebyside {
  margin: 5vh;
  display: flex;
}

.infoside h1 {
  margin-left: 4vw;
}

.contact{
  text-align: center;
}

.contact img{
  border: 1px solid #333;
}

.copyright p {
  text-align: center;
}

.mobile-seal {
  display: none;
}


@media screen and (max-width: 1000px) {
  .header {
    display: inline;
    text-align: center;
    margin: 1vh 0;
    width: 80vw;
    height: fit-content;
  }
  .header h1 {
    font-size: 8.5vw;
  }

  .header .seal {
    display: none;
  }

  .content p {
    font-size: 1em;
  }

  .content img {
    height: 45vw;
  }

  .sidebyside {
    flex-direction: column-reverse;
    align-items: center;
  }

  .imageside img {
    height: auto;
    width: 100%;
  }

  .mobile-seal {
    display: inline;
  }
  
  #seal {
    height: 30vw;
  }

  .nav {
    grid-template-areas: 
    ' . . . '
    ' . . . ';
    height: fit-content;
  }

  .nav-link {
    width: fit-content;
    justify-self: center;
    font-size: 5vw;
  }

  .nav-link:hover{
    font-size: 5.2vw;
  }    
}